@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page.no-scroll {
  overflow: hidden;
}

#cursor {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url(../img/cursor.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 33;
  -webkit-transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

#cursor.active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 992px) {
  #cursor {
    display: none;
  }
}

.branding {
  background: #fff;
  position: fixed;
  z-index: 35;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: #671e17;
  position: fixed;
  z-index: 35;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.branding-text {
  color: #000;
  font-size: 3rem;
}

.hide {
  background: #fff;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.hide:nth-child(2) span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  font-size: .5em;
}

::-moz-selection {
  background: rgba(103, 30, 23, 0.5);
  color: #fff;
}

::selection {
  background: rgba(103, 30, 23, 0.5);
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  position: absolute;
  z-index: 30;
  width: 100%;
  top: 0;
}

@media (max-width: 578px) {
  .header .logo img {
    width: 200px;
    height: 75px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.blured {
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 40px rgba(8, 7, 6, 0.6);
          box-shadow: 0 0 40px rgba(8, 7, 6, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.menu-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 65px 35px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 578px) {
  .menu-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-small .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: -100%;
  -webkit-transition: right .5s;
  transition: right .5s;
}

@media (max-width: 578px) {
  .menu-small .menu-list {
    margin-top: 20px;
  }
}

.menu-small .menu-link {
  color: #fff;
}

.menu-small .main-link {
  position: relative;
  left: -300%;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: left .4s, color .3s;
  transition: left .4s, color .3s;
}

.menu-small .menu-item {
  margin-left: 22px;
}

.menu-small .menu-item:first-child {
  margin-left: 0;
}

.menu-small a {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.menu-small a:hover {
  color: #671e17;
}

.menu-link {
  font-size: 24px;
  font-weight: 500;
}

.menu-main {
  margin-top: 70px;
  padding: 0 65px;
  position: relative;
}

@media (max-width: 1024px) {
  .menu-main {
    margin-top: 0;
  }
}

.menu-main .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-main .menu-list .menu-item {
  position: relative;
  top: -60vh;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 1024px) {
  .menu-main .menu-list .menu-item {
    width: 33.33%;
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .menu-main .menu-list .menu-item {
    width: 100%;
    text-align: left;
    margin-top: 8vh;
    position: static;
  }
}

@media (max-width: 768px) {
  .menu-main .menu-list .menu-item {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .menu-main .menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .menu-main .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-main .menu-list .menu-link {
  color: #671e17;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .menu-main .menu-list .menu-link {
    font-size: 30px;
  }
}

.menu-main .sub-menu {
  font-size: 20px;
}

.menu-main .sub-menu a {
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  position: relative;
}

.menu-main .sub-menu a::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 110%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu-main .sub-menu a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu-main .sub-menu .close {
  display: none;
}

@media (max-width: 768px) {
  .menu-main .sub-menu {
    position: absolute;
    z-index: 34;
    min-height: 50vh;
    width: 100%;
    left: -150%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 40px;
    background: #fff;
    border-radius: 25px;
    -webkit-transition: left .4s;
    transition: left .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-main .sub-menu a {
    color: #000;
    font-size: 30px;
  }
  .menu-main .sub-menu.open {
    left: 0;
  }
  .menu-main .sub-menu .close {
    display: block;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
    right: 30px;
    color: #909ca7;
    font-size: 40px;
  }
}

.site-nav {
  padding-top: 100px;
  padding-bottom: 65px;
  position: absolute;
  background: #da5044;
  width: 100%;
  height: 100vh;
  top: -100vh;
  left: 0;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.site-nav::after {
  content: 'Ми сделаем ваш праздник незабиваемим!';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 50%;
  font-size: 40px;
  padding: 40px;
  color: #671e17;
  background: #fff;
  -webkit-transition: width .6s;
  transition: width .6s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

@media (max-width: 1024px) {
  .site-nav::after {
    display: none;
  }
}

#menu-toggle {
  display: none;
  width: 41px;
  height: 20px;
}

.menu-btn {
  width: 41px;
  height: 24px;
  text-align: right;
  z-index: 31;
}

.menu-btn span {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 2px;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-btn span::before {
  content: '';
  display: block;
  position: absolute;
  width: 41px;
  height: 2px;
  right: 0;
  top: -10px;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-btn span::after {
  content: '';
  display: block;
  position: absolute;
  width: 31px;
  height: 2px;
  top: 10px;
  right: 0;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-btn.invert span {
  background: #000;
}

.menu-btn.invert span::before, .menu-btn.invert span::after {
  background: #000;
}

#menu-toggle:checked ~ .site-nav {
  top: 0;
}

#menu-toggle:checked ~ .site-nav .menu-item {
  top: 0;
}

#menu-toggle:checked ~ .site-nav .menu-small .menu-list {
  right: 0;
}

#menu-toggle:checked ~ .site-nav .menu-small .main-link {
  left: 0;
}

#menu-toggle:checked ~ .site-nav::after {
  width: 100%;
}

#menu-toggle:checked + .menu-btn span {
  width: 41px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn span::after {
  top: 0;
  width: 41px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu-toggle:checked + .menu-btn span::before {
  top: 0;
}

section {
  -webkit-transition: .5s background;
  transition: .5s background;
}

.intro {
  padding: 125px 0 50px;
  background: #fff;
}

.intro .next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 30px;
  background: #1e1e1e;
  padding: 15px;
  color: #fff;
}

.intro .next img {
  margin-left: 15px;
}

.intro__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  padding: 20px 0;
}

.intro__block.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
}

@media (max-width: 992px) {
  .intro__block.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro__block__text-column {
  width: 50%;
}

@media (max-width: 992px) {
  .intro__block__text-column {
    width: 100%;
  }
}

.intro__block__img-column {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.intro__block__img-column img {
  width: 48%;
  border-radius: 30px;
}

@media (max-width: 992px) {
  .intro__block__img-column {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .intro__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro .intro__block.reverse .intro__block__img-column img {
  width: 31%;
}

.format {
  padding: 130px 0;
  background: #fff;
}

.format .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .format .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.format__text-column {
  width: 55%;
}

.format__text-column__list__item {
  margin-top: 40px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 25px;
  color: #000;
  position: relative;
}

.format__text-column__list__item__text {
  width: 75%;
  text-align: left;
}

.format__text-column__list__item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.format__text-column__list__item.reverse::before {
  left: 0;
}

.format__text-column__list__item.reverse .format__text-column__list__item__text {
  text-align: right;
}

.format__text-column__list__item::before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
  background: #671e17;
}

@media (max-width: 475px) {
  .format__text-column__list__item::before {
    width: 60px;
  }
}

.format__text-column__list__item .number {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 24px;
  display: block;
}

@media (max-width: 992px) {
  .format__text-column {
    width: 100%;
  }
}

.format__img-column {
  width: 35%;
}

.format__img-column img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

@media (max-width: 992px) {
  .format__img-column {
    width: 70%;
    margin: 30px auto 0;
  }
}

.section-title {
  font-size: 40px;
  margin-bottom: 25px;
}

@media (max-width: 578px) {
  .section-title {
    text-align: center;
  }
}

.subtitle {
  font-size: 24px;
}

@media (max-width: 578px) {
  .subtitle {
    text-align: center;
  }
}

.gallery {
  padding: 100px 0;
  text-align: center;
}

.gallery__slider {
  margin-top: 50px;
}

.gallery__slider.slider-small {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .gallery__slider.slider-small {
    width: 70%;
  }
}

.gallery__slider__content {
  opacity: .5;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 768px) {
  .gallery__slider__content {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gallery__slider__content img {
  width: 100%;
  border-radius: 25px;
}

.gallery__slider .slick-slide.slick-center {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.banner {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: #ddf1dd;
  -webkit-clip-path: circle(0px at center center);
          clip-path: circle(0px at center center);
}

.container {
  position: relative;
  z-index: 2;
}

.header .container {
  position: static;
}
